/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/*  */
/* Project Styling Begins Here */
/*  */

.App {
  width: 100%;
}

.banner {
  color: white;
  width: 100%;
  min-height: 600px;
  max-height: 700px;
  padding: 5% 15%;
  background-image: url('./Images/atxbw.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-small {
  color: white;
  width: 100%;
  min-height: 500px;
  /* max-height: 700px; */
  padding: 5% 15%;
  background-image: url('./Images/atxbwSmall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 500px;
}

.austin-from-austin {
  font-size: 4em;
}

.austin-from-austin a {
  color: white;
  text-decoration: none;
}

/* .profile-pic {
  width: 100px;
  height: 100px;
} */

.problem-solving {
  /* margin-top: 20%; */
  font-size: 1em;
}

.rw-wrapper{
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
	position: relative;
}

.rw-sentence{
  margin: 0;
  text-align: left;
}

.rw-sentence span{
	color: whitesmoke;
	white-space: nowrap;
	font-size: 2em;
	font-weight: normal;
}

.rw-words{
	display: inline;
	text-indent: 10px;
}

.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
	color: whitesmoke;
}

.rw-words-2 span{
	animation: rotateWordsSecond 14s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
	animation-delay: 2s; 
	color: whitesmoke;
}
.rw-words span:nth-child(3) { 
	animation-delay: 4s; 
	color: whitesmoke;	
}
.rw-words span:nth-child(4) { 
	animation-delay: 6s; 
	color: whitesmoke;
}
.rw-words span:nth-child(5) { 
	animation-delay: 8s; 
	color: whitesmoke;
}
.rw-words span:nth-child(6) {  
	animation-delay: 10s; 
	color: whitesmoke;
}
.rw-words span:nth-child(7) {  
	animation-delay: 12s; 
	color: whitesmoke;
}
.rw-words span:nth-child(8) {  
	animation-delay: 14s; 
	color: whitesmoke;
}

@keyframes rotateWordsSecond {
  0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
  10% { opacity: 0.3; width: 0px; }
  20% { opacity: 1; width: 100%; }
  27% { opacity: 0; width: 100%; }
  100% { opacity: 0; }
}


.i-am-section {
  display: flex;
  flex-direction: column;
  padding: 0% 20%;
  color: white;
  text-align: center;
  background-color: #bb1333;
}

.i-am-section-title {
  padding-top: 1em;
  font-size: 3em;
}

.i-am-choices {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2em;
  padding-bottom: 5em;
}

.i-am-a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35%;
  padding: 1em;
  border-radius: .5em;
  box-shadow: 5px 5px 15px 5px #a7112d;
}

.i-am-a:hover {
  text-shadow: 1px 1px #1d2326;
  box-shadow: 1px 1px #1d2326;
}

.i-am-a h2 {
  font-size: 1.8em;
}

.i-am-a p {
  font-size: 1.05em;
}

.i-am-line {
  border: 1px solid black;
}

.footer {
  background-color: #1d2326;
  height: 200%;
  justify-content: center;
  text-align: center;
  padding: 5% 20%;
}

.footer nav {
  display: flex;
  justify-content: space-evenly;
}

.footer nav a {
  text-decoration: none;
  color: white;
}

.footer img {
  width: 15em;
  padding-top: 3em;
}

.work-card-array {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #22292c;
  padding: 0% 10%;
  color: rgb(194, 194, 194);;
}

.work-card {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  background-color: #181f2c;
  padding: 10px 10px;
  margin: 3%;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px 5px rgb(24, 24, 24);
}

.work-card .title {
  font-size: 1.75em;
  color: rgb(194, 194, 194);
  text-align: center;
}

.work-card .thumbnail {
  margin: 5px 0px;
}

.work-card-desc {
  font-size: 125%;
  line-height: 1.2;
  margin-top: 2%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.work-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: bottom;
  padding-top: 5%;
  margin-top: auto;
}

.work-card a {
  color: rgb(194, 194, 194);
  font-size: 110%;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.techstack-logo {
  margin-left: 2%;
  max-width: 30px;
  max-height: 30px;
}

/* Resume Page */

.resume-page {
  background: #181f2c;
  background: #1d2326;
  background: #22292c; 
}

.resume-container {
  display: flex;
  margin: 3%;
  /* flex-wrap: wrap; */
  /* max-width: 600; */
  /* height: 1200; */
}

.left-panel {
  background: #E3EAF0;
  max-width: 24%;
  padding: 3%;
  /* height: 1200px; */
}

.left-panel .my-name {
  font-size: 450%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-panel .my-title {
  font-size: 151%;
  line-height: 2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.summary-p {
  font-size: 140%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

.icon-link {
  display: flex;
  align-items: center;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.icon {
  width: 9%;
}

.icon-link a {
  color: black;
  text-decoration: none;
}

.contact-info {
  font-size: 140%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 95%;
}

.right-panel {
  background: whitesmoke;
  padding: 3%;
  width: 76%;
}

.right-panel .project-or-company-title {
  font-size: 200%;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resume-container h1b {
  color: #008fff;
  font-size: 300%;
  font-weight: bold;
}

.skills-list {
  padding: 5% 0%;
}

.skills-list p {
  font-size: 140%;
  padding-top: 3%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-panel h4b {
  font-size: 150%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.right-panel h3b {
  color: #008fff;
  font-size: 180%;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right-panel ul {
  padding-top: 1%;
  padding-left: 4%;
  list-style-type: disc;
  width: 85%;
}

.right-panel li {
  font-size: 150%;
  line-height: 1.3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: 150%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.position-location {
  display: flex;
  justify-content: space-between;
}

.right-panel .p-desc {
  font-size: 150%;
  padding: 0.5% 0%;
  line-height: 1.2;
  width: 85%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 2%;
}

.location {
  color: gray;
  font-size: 150%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.schools {
  display: flex;
}

.aau {
  width: 50%;
  padding-top: 1%;
  font-size: 150%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lambda {
  width: 50%;
  padding-top: 1%;
  font-size: 150%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr.thick {
  border: 2px solid #008fff;
  border-radius: 2px;
}

.right-panel-section {
  padding-bottom: 1em;
}

.left-panel-section {
  padding-bottom: 1em;
}

.left-panel-section p {
  font: 25px;
}

.project {
  padding: 0.5em 0%;
}

.experience {
  padding: 0.5em 0%;
}

.schools .school-year {
  color: darkgray;
}

/* About Me Component */

.about-me-content-container {
  display: flex;
  margin: 5% 15%;
}

.about-me-content-container .left {
  padding-right: 5%;
  display: flex;
  flex-direction: column;
}

.about-me-content-container .left img {
  align-self: center;
  padding-bottom: 10%;
}

.about-me-content-container h1 {
  font-size: 300%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 1%;
}

.about-me-content-container h2 {
  font-size: 220%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 5%;
}

.about-me-content-container p {
  font-size: 120%;
  line-height: 1.4;
  text-align: justify;
  /* text-justify: inter-word; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 2%;
}

/* Fonts */

/* 
ArialMT 
OpenSans-Regular
Raleway
Raleway-Bold
*/
